/*
Plugin Name: Postpoll
Plugin URI: 
Description: Make a poll of your own posts and see which one People Likes
Version: 0.1.3
Author: Eric Zeidan
Author URI: 
License: GPL2
*/

/*  Copyright 2015 Eric Zeidan  (email : k2klettern@gmail.com)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 2, as 
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

.outcontainer {
	height: 50px;
}
.content-cntr input {
	margin-left: 5px;
}
#example-button {
	margin-top:20px;
}
.img-container{
	width:50px;
	height:50px;
	overflow: hidden;
}
.img-container img {
	width: 100%;
}
.postpollmess ul {
    list-style-type: none;
    font-size: 85%
}
.titlejust {
    margin-left: 55px;
}
